{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Creer a </th>
                <td>{% if reservation.createAt %}{{ reservation.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date de depart</th>
                <td>{% if reservation.startDate %}{{ reservation.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{% if reservation.endDate %}{{ reservation.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Surclassement</th>
                <td>{% if reservation.surclassement %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_index') }}">Retour à l'acceuil</a>
        </li>
        <li>
            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Effacer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
